@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:wght@400..900&display=swap");

.container-fluid {
  background-color: #1e202c;
  color: #bfc0d1;
  font-family: "Inter", sans-serif;
}

.main {
  text-align: center;
}
.navbar-custom {
  color: #bfc0d1;
  text-decoration: none;
  font-weight: 800;
}

.nav-link {
  color: #bfc0d1;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
}
.navbar-toggler {
  background-color: #bfc0d1;
}

.buttons {
  background-color: #bfc0d1;
  color: #60519b;
  border-radius: 20px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 120px;
  margin: auto;
}
h2 {
  font-weight: 400;
  font-size: 35px;
  margin: auto;
}
p {
}
